.DS_Store

# We ignore any generated PDF
*.pdf
!logo.pdf

.idea/
.vscode/

# Smommit ignore
.smommit/

*.png
!**/assets/**/*.png
*.dot

*.cpt
*.out
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.sum
_minted*/
